<!-- Inicio Sección Botones -->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#addClienteModal">
                    <i class="fas fa-user-plus"></i> Agregar Cliente
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Fin Sección Botones -->
<!-- Inicio Sección Lista Clientes -->
<section id="clientes">
    <div class="container">
        <div class="row">
            <!--Inicio Tabla Clientes -->
            <div class="col-md-9">
                <div class="card text-center">
                    <div class="card-header"><h4>Clientes</h4></div>
                    <div class="card-body">
                        <h5 class="card-title">Lista de Clientes</h5>
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Saldo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of clientes; let i = index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                                    <td>{{ cliente.saldo | currency: 'MNX' : '$' }}</td>
                                    <td>
                                        <a href="" routerLink="/cliente/editar/{{ cliente.id }}" class="btn btn-success">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Fin Tabla Clientes -->
            <!--Inicio Tarjetas Laterales-->
            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h4>Saldo Total</h4>
                        <h5 class="display-4">{{ getSaldoTotal() | currency: 'MXN' : '$' }}</h5>
                    </div>
                </div>
            
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h4>Total Clientes</h4>
                        <h5 class="display-4"><i class="fas fa-user-friends"></i> {{ clientes?.length }}</h5>
                    </div>
                </div>
            </div>
            <!--Fin Tarjetas Laterales-->
        </div>
    </div>
</section>
<!-- Fin Sección Lista Clientes -->
<!-- Inicio Modal para Cliente -->
<div class="modal fade" id="addClienteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
            <h5 class="modal-title" id="modalLabel">Agregar Cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="">
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre" aria-label="Ingrese su nombre" aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        <input type="text" class="form-control" name="apellido" placeholder="Ingrese su apellido" aria-label="Ingrese su apellido" aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="correo" placeholder="Ingrese su correo" aria-label="Ingrese su correo" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" name="saldo" class="form-control" placeholder="Ingrese saldo" aria-label="Ingrese saldo">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="far fa-times-circle"></i> Cerrar</button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-check"></i> Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
<!-- Fin Modal para Cliente -->